{% extends 'base.html' %}

{% block content %}

<div class = "container">
  <div class="container" style=" background-color:#3C1053;  border-radius: 5px;">
    <h2 class="card-header text-center" style="font-size: 40px; color: white;">Collabify</h2>
    <h4 class="text-center" style="font-size: 30px; color: white;">Attendance</h4>
      <div class="card-body">
        <div class="container" style=" border-radius: 5px; padding: 10px; ">
          <div class="container">
            <p> <font color="white" style=" size: 20px; font-family: 'Exo 2', sans-serif;">Please scan this QR Code using a smartphone to mark Attendance </font></p>
            <div style="padding-left: 70px;">
            <image class = "img-responsive" src = "static/images/Attendance.png">
            </div>
          </div>
        </div>
      </div>
  </div>
</div>









{% endblock %}
