<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" id = navbar>
      <div>
        <font color="white" style="font-size:20px; font-family: 'Exo 2', sans-serif; float: left;"><strong>Collabify</strong></font>
      </div>
    <div>
      <div style = "float:right; padding:10px; font-size:20px; color:white;">
        <div class="dropdown show">
          <a class="btn dropdown-toggle" href="#" style ="color:white;" role="button" id="dropdownMenuLink" data-toggle  ="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style=" font-family: 'Exo 2', sans-serif; font-size: 16px;">
            <a class="dropdown-item" href="#">
              <p style="padding: 1px;"><i class="fa fa-id-badge" aria-hidden="true"></i> Profile</p>
            </a>
            <a class="dropdown-item"  href="#">
              <p style="padding: 1px;"><i class="fa fa-cogs" aria-hidden="true"></i> Settings</p>
            </a>
            <a class="dropdown-item"  href="{% url 'logout' %}">
              <p style = "padding:1px;"><i class="fa fa-lock" aria-hidden="true"></i> Logout</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!--Join Team button-->

  <!--NEEDS TO REDIRECT TO JOIN TEAM PAGE-->
  <div style="float:right;">
    <a href="#" class="btn btn-primary" style="font-size:16px; padding-right: 6px; margin-right: 6px;"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Join Team</a>
  </div>
  <br>
  <br>


<div class = "container-fluid" style = " height: 500px; padding: 50px; background-color: #461D7C; font-family: 'Exo 2', sans-serif; font-size: 16px;">
<h2>Welcome, {{ name }} !</h2>
<div class="card" style="width: 25rem; text-align: center;">
  <img class="card-img-top" src="{% static 'images/attendance.png' %}" height="150px;" width="250px;" alt="Attendance">
  <div class="card-body">
    <h1 class="card-title">Class Attendance</h1>
    <p class="card-text">View attendance for classes</p>
    <a href="#" class="btn btn-primary"><p style="font-size:14px;">Open</p></a>
  </div>
</div>


</div>
</body>