
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  <link rel = "stylesheet" href="../static/css/styles.css">
  </head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><font color="white" style=" size: 20px; font-family: 'Exo 2', sans-serif;"><strong>Collabify : </strong>Create, Share, Collaborate </font></a>
    </div>
    <div>
      <div style = "float:right; padding:5px;">
          <a class="btn btn-primary" href="{% url 'login' %}" style = "background-color: #435F65;">Login</a>
          <a class="btn btn-primary" href="{% url 'signup' %}" style = "background-color: #435F65;">Signup</a>
      </div>
    </div>
    </div>
</nav>
<br><br>

<div style="padding-top:5px; text-align:center;">

<!--<div class = "container-fluid" id = "Section_1" style = "background-color:#461D7C; border-radius:5px; color:white;">-->

<div id="section1" class="container-fluid">
  <h1>Section 1</h1>

  </div>
<div id="section2" class="container-fluid">
  <h1>Section 2</h1>
</div>
<div id="section3" class="container-fluid">
  <h1>Section 3</h1>

</div>
<div id="section41" class="container-fluid">
  <h1>Section 4 Submenu 1</h1>

</div>
<div id="section42" class="container-fluid">
  <h1>Section 4 Submenu 2</h1>

</div>
<div id="footer" class="container-fluid">
  <h1>Footer</h1>
    <p>About</p>
    <p>Contact</p>
    <p>Feedback</p>
    <p>Email us at: <strong>collabify-us@gmail.com</strong> </p>
    <div style="font-size: 35px;">
      <i style="padding: 15px;" class="fab fa-facebook"></i><i style="padding: 15px;" class="fab fa-instagram"></i> <i style="padding: 15px;" class="fab fa-linkedin"></i>
      <i style="padding: 15px;" class="fab fa-slack"></i><i style="padding: 15px;" class="fab fa-google-plus-g"></i>
    </div>

    <p><strong><i class="far fa-copyright"></i> Collabify 2018</strong></p>
</div>
</div>
</body>
</html>
