<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <script src="//d3js.org/d3.v3.min.js"></script>
  {% load static %}
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<!--Navbar css-->

<style>
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.qr-code {
  max-width: 200px;
  margin: 10px;
}
</style>

<body>
	<!--Navbar-->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid"style="background-color:#000000;">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" style="background-color:#000000;"><font color="white" style=" size: 20px; font-family: 'Exo 2', sans-serif;"><strong>Collabify </strong></font>
          <font style="font-size:22px;font-family:'Pacifico', cursive; color:white; padding-left:10px;">for</font>
        </a>
        <img src = "../static/images/LSU_Gold_CMYK.png" class="image-responsive" height="50" width="90" style="padding-left:0px;padding-top:14px;padding-bottom:14px;padding-right:14px;"><br>
      </div>
    <div>

      </div>
      </div>
  </nav>
  <br>
  <br></br>

\]



  </body>
