{% extends 'base.html' %}

{% block body %}
<div class="container">
<p> you have logged out successfully !! </p>
</div>
{% endblock %}

<!--<body>
    <div class="container">
    <h3>Welcome</h3>
    <button class="btn btn-default" type="button" name="button">Login</button>
    <button class="btn btn-primary" type="button" name="button">Login</button>
    <button class="btn btn-success" type="button" name="button">Login</button>
    <button class="btn btn-link" type="button" name="button">Login</button>
    </div>
    <div class="jumbotron">
    <h3>Welcome</h3>
    <button class="btn btn-default" type="button" name="button">Login</button>
    <button class="btn btn-primary" type="button" name="button">Login</button>
    <button class="btn btn-success" type="button" name="button">Login</button>
    <button class="btn btn-link" type="button" name="button">Login</button>
    </div>
</body>
 <h2>{{ myname }}</h2>
 <ul>
     {% for i in numbers %}
     <li> {{ i }}</li>
     {% endfor %}
 </ul>-->
