<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Express" content="-1" />
    <title>X-Ray Results</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
        .monthly-summ {
            margin: 50px;
            font-family: "Times New Roman";
        }
    </style>
</head>

<body>
    <div class="X-ray">
        <table class="table table-bordered">
            <tr style="font-weight:bold">
                <tr>
                    <th>Model</th>
                    <th>Prediction</th>
                    <th>Confidence (%)</th>
                </tr>
                <tr>
                    <td colspan="" align="left">inceptionV3</td>
                    <td colspan="" align="left">Non Fracture</td>
                    <td colspan="" align="left">94.7716772556305</td>
                </tr>
                <tr>
                    <td colspan="" align="left">vgg16</td>
                    <td colspan="" align="left">Fracture</td>
                    <td colspan="" align="left">99.99217987060547</td>
                </tr>
                <tr>
                    <td colspan="" align="left">vgg19</td>
                    <td colspan="" align="left">Fracture</td>
                    <td colspan="" align="left">65.37792682647705</td>
                </tr>
                <tr>
                    <td colspan="" align="left">parallel cnn(Convolutional Neural Network)</td>
                    <td colspan="" align="left">Non Fracture</td>
                    <td colspan="" align="left">69.74311470985413</td>
                </tr>
                <tr>
                    <td colspan="" align="left">series cnn(Convolutional Neural Network)</td>
                    <td colspan="" align="left">Fracture</td>
                    <td colspan="" align="left">60.470062494277954</td>
                </tr>
            </tr>
        </table>
    </div>
</body>

</html>