body
{
  position: relative;
  font-family: 'Exo 2', sans-serif;
  font-size: medium;
  position: relative;
}
a:hover{
  background-color: #1E88E5;

}
  #section1 {padding-top:50px;height:500px;background-image: url("home/vmalar/collabify_v2.0_4330/collabify_v2.0/collabify/scripts/static/images/index_1.png");}
  #section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
  #section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
  #section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
  #section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}
  #footer{
    padding-top:50px;height:400px;color: #fff; background-color:#000000;
  }
display:inline-block;
